/* SWIGGY */

*{
    margin: 0%;
    padding: 0%;
    border: 0%;
}
#header{
    background-color: hsl(18, 95%, 50%);
    height: 600px;
    width: 100%;
}

#logo{
    height: 55px;
    width: 160px;
    margin-top: 30PX;
    margin-left: 150PX;
}

#container{
    margin-top: 40px;
    margin-right: 180px;
    font-size: larger;
    font-weight: bold;
    float: right;
    color: white;
    display: flex;
    align-items: center;
    gap: 15px;
}

#Sign{
    color: white;
    background-color: black;
    font-weight: bolder;
    font-size: medium;
    height: 55px;
    width: 130px;
    border-radius: 10px;
}
#App{
    color: white;
    background-color: transparent;
    font-weight: bolder;
    font-size: small;    
    border-color: white;
    border-collapse: collapse;
    height: 50px;
    width: 140px;
    border-radius: 10px;
}

#veggies{
    width: 150px;
    margin-top: 100px;
    margin-left: 0px;
    float: left;
}

#sushi{
    height: 500px;
    width: 200px;
    float: right;
}

h1{
    float: left;
}

#menu{
    background-color: white;
    height: 600px;
}
#footer{
    background-color: lightgray;
    height: 200px;
    width: 100%;
}