/* https://chatgpt.com/share/6aa90134-b34c-83ea-87c9-88370b1a2336 */
/* SWIGGY */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ================= HEADER ================= */

#header {
    background-color: hsl(18, 95%, 50%);
    width: 100%;
    height: 650px;
    position: relative; 
    overflow: hidden;
}


/* ================= TOP SECTION ================= */

#header-top {
    width: 90%;
    max-width: 1200px;

    margin: 30px auto 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* ================= LOGO ================= */

#logo {
    height: 55px;
    width: 160px;
}


/* ================= NAVIGATION ================= */
#container {
    display: flex;
    align-items:center;
    gap: 15px;
    color: white;
    font-size: larger;
    font-weight: bold;
}

/* ================= APP BUTTON ================= */
#App {
    color: white;
    background-color: transparent;

    font-weight: bolder;
    font-size: small;

    border: 1px solid white;

    height: 50px;
    width: 140px;

    border-radius: 10px;
}

/* ================= SIGN IN ================= */
#Sign {
    color: white;
    background-color: black;
    font-weight: bolder;
    font-size: medium;
    height: 55px;
    width: 130px;
    border-radius: 10px;
}
/* ================= VEGGIES ================= */

#veggies {
    position: absolute;
    width: 150px;
    left: 0;
    top: 150px;
}

/* ================= SUSHI ================= */
#sushi {
    position: absolute;
    width: 150px;
    right: 0;
    top: 150px;
}

/* ================= HEADING ================= */
h1 {
    color: white;
    text-align: center;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    font-size: 35px;
}

/* ================= SEARCH BOXES ================= */
#search-box {
    position: absolute;
    top: 280px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

/* INPUT */
#search-box input {
    height: 60px;
    width: 300px;
    border-radius: 10px;
    padding: 0 20px;
    font-size: 15px;
}

/* ================ FOOD DELIVERY/INSTAMART/DINEOUT =================== */
#images3{
    padding-top: 280px;
    display: flex;
    justify-content: center;
}

/* ================= MENU ================= */
#menu {
    background-color: white;
    min-height: 600px;
    padding: 150px;
}

/* ================= FOOTER ================= */
#footer {
    background-color: lightgray;
    height: 600px;
    width: 100%;
}
